body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 80px 1r;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding: 10px;
    background-color: rgba(134, 248, 195, 0.445);
	
}
.sidebar {
	grid-area: sidebar;
	padding:50px;
    background-color: rgb(120, 118, 245);
}
.content {
	grid-area: content; 
}
