body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 100px 1fr 50px;
	grid-template-columns: 400px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	background-image:url("https://cdn.wallpapersafari.com/22/40/PzkdJo.jpg");
	grid-area: header;
	padding:10px;
	background-color: rgb(115, 114, 116);
	color: rgb(1, 78, 97);
	font-size: 2em;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: 900;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: rgb(7, 215, 252);
	overflow: auto;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}