body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 100px 1fr 50px;
	grid-template-columns: 400px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	background-image:url("https://cdn.wallpapersafari.com/22/40/PzkdJo.jpg");
	grid-area: header;
	padding:10px;
	background-color: rgb(115, 114, 116);
	color: rgb(1, 78, 97);
	font-size: 2em;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: 900;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: rgb(7, 215, 252);
	overflow: auto;
}

.sidebar-item {
    padding: 8px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(5, 109, 112);
    margin: 3px;
}
.sidebar-item:hover {
    background: rgb(255, 91, 94);
    border: 5px rgb(25, 203, 234);
    margin: 5px;
    cursor: pointer;
    transition: all .2s linear;
  border-style: inset;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}